@import "mixins"
.dots
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 4
  pointer-events: none
  &__container
    position: relative
    background-size: cover
    background-position: 50% 50%
    top: 50%
    left: 50%
    transform: translate3d(-50%,-50%,0)
    min-width: 166.66667vh
    &::after
      content: ''
      padding-bottom: 60%
      display: block
    & > *
      &:nth-child(1)
        transition-delay: .1s
      &:nth-child(2)
        transition-delay: .2s
      &:nth-child(3)
        transition-delay: .3s
  &__item-container
    cursor: pointer
    position: absolute
    display: -ms-flexbox
    display: flex
    -ms-flex-direction: column
    flex-direction: column
    -ms-flex-align: center
    align-items: center
    -ms-flex-pack: center
    justify-content: center
    width: 70px
    height: 70px
    margin-top: -35px
    margin-left: -35px
    transform: translate3d(0,0,0) scale(1) !important
    transition: .2s
    border-radius: 50%
    opacity: 1
    pointer-events: all
    &.hide
      transform: translate3d(0,0,0) scale(0) !important
      .dots__item-circle
        transform: scale(.9)

  &__item-circle
    border-radius: 50%
    position: absolute
    background-size: cover
    background-position: 50%
    width: 100%
    height: 100%
    color: #000
    transform: scale(-1)
    display: -ms-flexbox
    display: flex
    -ms-flex-direction: column
    flex-direction: column
    -ms-flex-align: center
    align-items: center
    -ms-flex-pack: center
    justify-content: center
    transition: .3s ease-in-out
    svg
      width: 100%
      padding: 20%
      path
        transition: .1s ease-in-out

@media (min-width: 1000px)
  .dots
    &__item-container
      width: 180px
      height: 180px
      margin-top: -90px
      margin-left: -90px
    &__item
      width: 80px
      height: 80px
    &__item-circle
      width: 70%
      height: 70%

@media (min-width: 760px)
  .dots
    &__item
      position: relative
      width: 70px
      height: 70px
      background-color: rgba(255, 255, 255, 0.7)
      border-radius: 50%
      transition: .1s ease-in-out
      backface-visibility: visible
      transform: scale(-1)
      &:hover
        background-color: rgba(34, 71, 195, 0.7)
        svg path
          fill: rgba(34, 71, 195, 0.7)
    &__item-circle
      width: 70%
      height: 70%
      background-color: #FFF
      top: 50%
      left: 50%
      margin-left: -35%
      margin-top: -35%
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)

+keyframes(pulse)
  0%
    transform: translateY(0) scaleX(1)
  30%
    transform: translateY(-20px) scaleX(0.2)
  50%
    transform: translateY(-30px) scaleX(0)
  80%
    transform: translateY(-20px) scaleX(0.2)
  100%
    transform: translateY(0) scaleX(1)

