body
  &.hide
    .footer, .sharing
      opacity: 0
    .sharing
      right: -30px
    .fn-tb
      transform: translateY(50px)
    .footer-dots
      transform: translateY(50px)
    .footer__dev-link
      transform: translateX(30px)
      opacity: 0

.footer
  position: absolute
  z-index: 3
  left: 0
  right: 0
  bottom: 0
  padding: 0 var(--left-padding) var(--bottom)
  transition: .3s
  &::after
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: linear-gradient(360deg, #000000 -102.02%, rgba(0, 0, 0, 0) 84.78%)
    opacity: 0
    transition: .3s
    z-index: 1
  &.not-first
    padding-top: 170px
    &::after
      opacity: 1
  &__buttons
    -webkit-box-flex: 1
    -ms-flex: 1
    flex: 1
    min-width: 1px
    text-align: right
    display: flex
    position: relative
    flex-wrap: wrap
    justify-content: end
    opacity: 0
    a
      color: #fff
      background-color: #59A9E3
      border: 0
      text-decoration: none
      cursor: pointer
      border-radius: 5px
      padding: 10px 50px
      display: block
      flex: 0 0 auto
      font-weight: 100
      transition: .3s
      &:last-child
        margin-left: 40px
      &:hover
        transform: scale(1.1)
  &.last &
    &__buttons
      opacity: 1

  &__dev
    position: absolute
    writing-mode: tb
    transform: scale(-1)
    right: 0
    bottom: var(--bottom)
    max-width: 100%
    z-index: 3
    a
      position: relative
      display: block
      text-decoration: none
      &:hover
        text-decoration: underline
  &__content
    position: relative
    z-index: 2
    display: flex
    flex-wrap: wrap
    align-items: flex-end
  &__dev-link
    display: block
    color: #fff
    transition: .3s
    & > *
      display: block
      &:nth-child(1)
        font-size: 1em
        font-weight: 300
      &:nth-child(2)
        font-size: 1.5em
        letter-spacing: 0.25em

.fn-tb
  position: relative
  left: 0
  width: 35%
  transition: .3s .05s
  -webkit-box-flex: 1
  -ms-flex: 1
  flex: 1
  min-width: 1px
  & > *
    display: block
  &__little
    font-size: 1.5em
    font-weight: 300
  &__big
    font-size: 2.5em
    text-transform: uppercase

@media (max-width: 1600px)
  .footer
    &__buttons
      a
        padding: 10px 30px
  .fn-tb
    &__big


@media (max-width: 1333px)
  .fn-tb
    &__little
      font-size: 1em

.footer-dots
  display: flex
  flex-wrap: wrap
  list-style: none
  justify-content: center
  transition: .3s
  -webkit-box-flex: 1
  -ms-flex: 1
  flex: 1
  min-width: 250px
  margin: 0
  position: relative
  & > li:first-child
    padding-left: 0
  & > li
    flex: none
    padding-left: 30px
    a
      display: block
      box-sizing: border-box
      width: 17px
      height: 17px
      opacity: .5
      text-indent: 100%
      overflow: hidden
      white-space: nowrap
      transition: .2s ease-in-out
      &::after
        content: ''
        display: block
        height: 50%
        width: 50%
        background-color: #fff
        border-radius: 50%
        transform: translate(50%, 50%)
      &:hover
        transform: scale(1.2)
      &.active
        opacity: 1
        transform: scale(1.5)

@media (max-width: 768px)
  .footer
    &__dev
      display: none
    &__buttons
      display: none

  .fn-tb, .footer-dots
    -ms-flex: 0 0 100%
    flex: 0 0 100%

  .footer-dots
    padding-left: 0

  .fn-tb
    margin-bottom: 10px